#title {
  text-align: center;
  text-transform: uppercase;
  font-family: "Helvetica", sans-serif;
  color: #B8B800;
}

.container {
  width: 1200px;
  height: 700px;
  border: 1px solid black;
  margin: 0 auto;
}

#first-board {

}

.card {
  position: relative;
  width: 200px;
  height: 200px;
  font-size: 20px;
  display: inline-block;
  border-radius: 5px;
  background-color: #5C85AD;
}

h2 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.question {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.row {
  width: 1200px;
  height: 200px;
  border: solid 1px black;
}


.column {
  width: 140px;
  height: 700px;
  padding-right: 10px;
  margin: 0 auto;
  display: inline-block;
}

.category {
  font-family: "Helvetica", sans-serif;
  font-size: 25px;
  text-align: center;
  /*vertical align */
  width: 140px;
  height: 100px;
  border: 4px solid black;
  margin-left: 38px;
  margin-bottom: -10px;
  padding: 5px;
  border-radius: 5px;
  background-color: #4747FF;
}

/*.question {
  font-family: "Helvetica", sans-serif;
  text-align: center;
  width: 140px;
  height: 100px;
  background-color: #4747FF;
  border: 2px solid black;
  border-radius: 5px;
  list-style-type: none;
  margin: 0px;
  padding: 5px;
}*/

.question-list {

}
