body {
  font-family: "Helvetica", sans-serif;
}

#title {
  text-align: center;
  text-transform: uppercase;
  color: #B8B800;
}

.card {
  position: relative;
  width: 150px;
  height: 100px;
  font-size: 20px;
  display: inline-block;
  border-radius: 5px;
  background-color: #5C85AD;
}

.category {
  position: relative;
  margin: 0;
  width: 148px;
  height: 70px;
  font-size: 20px;
  display: inline-block;
  border: 1px solid #5C85AD;
  border-radius: 5px;
  background-color: cornflowerblue;
}

h2 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.question {
  font-size: 10px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: black;
}

.row {
  width: 900px;
  height: 100px;
  margin: 0 auto;
}

#category-row {
  width: 900px;
  height: 70px;
  margin: 0 auto;
}

.column {
  width: 140px;
  height: 700px;
  padding-right: 10px;
  margin: 0 auto;
  display: inline-block;
}


/*.question {
  font-family: "Helvetica", sans-serif;
  text-align: center;
  width: 140px;
  height: 100px;
  background-color: #4747FF;
  border: 2px solid black;
  border-radius: 5px;
  list-style-type: none;
  margin: 0px;
  padding: 5px;
}*/

#score-box {
  width: 150px;
  height: 300px;
  border: 2px solid black;
  float: right;
  margin-right: 50px;
}

#player-one-scorebox {
  width: 150px;
  height: 100px;
  border: 1px dotted #5C85AD;
}

#player-two-scorebox {
  width: 150px;
  height: 100px;
  border: 1px dotted #5C85AD;
}

.score {

}
